<style type="text/css">
    .header {
        background: #8a8a8a;
    }

    .header .columns {
        padding-bottom: 0;
    }

    .header p {
        color: #fff;
        padding-top: 15px;
    }

    .header .wrapper-inner {
        padding: 20px;
    }

    .header .container {
        background: transparent;
    }

    table.button.facebook table td {
        background: #3B5998 !important;
        border-color: #3B5998;
    }

    table.button.twitter table td {
        background: #1daced !important;
        border-color: #1daced;
    }

    table.button.google table td {
        background: #DB4A39 !important;
        border-color: #DB4A39;
    }

    .wrapper.secondary {
        background: #f3f3f3;
    }
</style>


<container>

    <spacer size="16"></spacer>

    <row>
        <columns small="12">

            <h1>Hi, <%= name %>,this mail inlcude EJS in it
            </h1>
            <p class="lead">I'm sending this mail to test the usage of EJS.</p>
            <p>We used EJS to build a template that helps us organize our mail properly.</p>
            <callout class="primary">
                <p>We're sending this mail by node ,using the dependencies express,moragn,cross,nodmailer and EJS. </p>
            </callout>
        </columns>
    </row>
    <wrapper class="secondary">

        <spacer size="16"></spacer>

        <row>
            <columns large="6">
                <h5>Connect With Us:</h5>
                <button class="facebook expand" href="http://facebook.com">Facebook</button>
                <button class="twitter expand" href="http://twitter.com">Twitter</button>
                <button class="google expand" href="http://google.com">Google+</button>
            </columns>
            <columns large="6">
                <h5>Contact Info:</h5>
                <p>Phone: 22 764 667</p>
                <p>Email: <a href="mailto:fers.cherif150817@gmail.com">feres.cherif150817@gmail.com</a></p>
            </columns>
        </row>
    </wrapper>
</container>